/* ================================================================================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

.container {
    max-width: 1344px;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    display: block;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Btn {
    padding: 15px 42px;
    border-radius: 10px;
    background: #6A4DF4;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px; /* 130% */
    border: none;
}

/* ================================================================================================== */
.navbar {
    position: absolute;
    width: 100%;
    z-index: 999;
    margin-top: 50px;
}
.navbar .container .navbar-nav {
    gap: 65px;
}

.navbar .container .navbar-nav .nav-item .nav-link {
    color: #ffffff;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding: 0;
    line-height: 26px;
    transition: .3s;
}
.navbar .container .navbar-nav .nav-item .nav-link.active {
    color: #6A4DF4;
}

.navbar .container .navbar-nav .nav-item .nav-link:hover {
   color: #4756DF;
}
/* ================================================================================================== */
/* ================================================================================================== */
#section_1 {
    position: relative;
    background: url(../Images/agenc-Banner_1.jpg) lightgray 50% / cover no-repeat;
    z-index: 1;
}

#section_1::after {
    content: "";
    background: rgba(0, 0, 0, 0.60);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#section_1 .container {
    padding: 315px 0 176px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section_1 .container h1 {
    max-width: 950px;
    color: #FFF;
    text-align: center;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 90px */
}

#section_1 .container p {
    padding: 51px 0 40px;
    max-width: 621px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.slick_slider ul {
    display: flex;
    gap: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 53px;
}

.slick_slider ul li button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #6A4DF4;
    border: none;
    font-size: 0px;
}

.slick_slider ul .slick-active button {
    border: 4px solid white;
    transition: 0.3s;
}
/* ================================================================================================== */
/* ================================================================================================== */
#experience {
    padding-top: 171px;
}

#experience .container {
    padding: 85px 37px 86px 50px;
    border-radius: 20px;
    background: #E0FFF9;
}
#experience .container .col-lg-4 .left h3 {
    color: var(--Primary-Color, #6A4DF4);
    font-size: 25px;
    font-weight: 500;
    line-height: 120%; /* 30px */
}
#experience .container .col-lg-4 .left p {
    color: var(--Dark-01, #151515);
    font-size: 35px;
    font-weight: 600;
    margin-top: 15px;
}
#experience .container .col-lg-8 .right {
    display: flex;
    justify-content: flex-end;
    column-gap: 110px;
}

#experience .container .col-lg-8 .right .child h3 {
    color: var(--Dark-01, #151515);
    font-size: 50px;
    font-weight: 700;
    margin-top: 13px;
}

#experience .container .col-lg-8 .right .child p {
    color: var(--Dark-03, #737373);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 24px */
    margin-top: 20px;
}
/* ================================================================================================== */
/* ================================================================================================== */
#services {
    padding-top: 149px;
    padding-bottom: 103px;
}

#services .container .title h2 {
    color: var(--Dark-01, #151515);
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}
#services .container .title p {
    color: var(--Dark-03, #737373);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    max-width: 609px;
    margin: 20px auto 50px;
}

#services .container .row {
    gap: 24px;
}

#services .container .row .col-lg-4 {
    max-width: 424px;
    text-align: center;
    padding: 80px 49px 47px;
    transition: .5s;
}
#services .container .row .col-lg-4:hover {
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}

#services .container .row .col-lg-4 h3 {
    color: var(--Dark-01, #151515);
    font-size: 25px;
    font-weight: 700;
    margin: 40px 0 20px;
}

#services .container .row .col-lg-4 p {
    color: var(--Dark-03, #737373);
    font-size: 16px;
    line-height: 26px; /* 162.5% */
    margin: 0 auto;
    max-width: 326px;
}

#services .container .row .col-lg-4 img {
    margin: 0 auto;
}
/* ================================================================================================== */
/* ================================================================================================== */
#recent_work {
    padding-top: 150px;
    padding-bottom: 150px;
    background: var(--Dark-07, #F3F3F3);
}

#recent_work .container .title h2 {
    color: var(--Dark-01, #151515);
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}
#recent_work .container .title p {
    color: var(--Dark-03, #737373);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    max-width: 620px;
    margin: 20px auto 106px;
}

#recent_work .container .row {
    gap: 24px;
}

#recent_work .container .row .col-lg-4 {
    max-width: 424px;
    padding: 0;
    margin: 0;
    text-align: center;
    transition: .5s;
    background-color: #FFF;
    border-radius: 20px;
}
#recent_work .container .row .col-lg-4 h3 {
    color: var(--Dark-01, #151515);
    font-size: 25px;
    font-weight: 700;
    margin: 30px 0 10px;
}

#recent_work .container .row .col-lg-4 p {
    color: var(--Dark-03, #737373);
    font-size: 16px;
    line-height: 26px; /* 162.5% */
    margin: 0 auto 30px;
    max-width: 326px;
}

#recent_work .container .row .col-lg-4 img {
    width: 100%;
    border-radius: 20px;
}
/* ================================================================================================== */
/* ================================================================================================== */
#why_agenc {
    padding-top: 150px;
}

#why_agenc .container .title h2 {
    color: var(--Dark-01, #151515);
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

#why_agenc .container .title p {
    color: var(--Dark-03, #737373);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    max-width: 620px;
    margin: 20px auto 130px;
}

#why_agenc .container .row .col-lg-4 {
    display: flex;
    flex-direction: column;
    row-gap: 95px;
}

#why_agenc .container .row .col-lg-4 .child h3 {
    color: var(--Dark-01, #151515);
    font-size: 25px;
    font-weight: 700;
    margin: 20px 0 10px;
}

#why_agenc .container .row .col-lg-4 .child p {
    color: var(--Dark-03, #737373);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    max-width: 344px;
}

#why_agenc .container .row .col-lg-4 .image {
    width: 428px;
    height: 428px;
    background: url(../Images/whyagenc_img.jpg) lightgray 0px 0px / 100% 100% no-repeat;
}
/* ================================================================================================== */
/* ================================================================================================== */
#review {
    padding-top: 106px;
    padding-bottom: 227px;
}

#review .container .title h2 {
    color: var(--Dark-01, #151515);
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

#review .container .title p {
    color: var(--Dark-03, #737373);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    max-width: 620px;
    margin: 20px auto 130px;
}

#review .container .review_slider {
    max-width: 1368px;
}

#review .container .review_slider .child {
    margin: 0 12px;
    padding: 54px 58px;
    border-radius: 30px;
    transition: .3s;    
}
#review .container .review_slider .slick-center {
    background: #F4EFEF;
}

#review .container .review_slider .child p {
    color: var(--Dark-03, #7B7B7B);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    max-width: 307px;
    text-align: start;
    margin: 20px 0;
}

#review .container .review_slider .child .icons {
    display: flex;
    gap: 5px;
    margin-bottom: 30px;
}

#review .container .review_slider .child .icons i {
    color: #F9BD2C;
}

#review .container .review_slider .child .client {
    display: flex;
    gap: 20px;
    align-items: center;
}

#review .container .review_slider .child .client .dp {
    width: 47px;
    height: 47px;
    border-radius: 50%;
}

#review .container .review_slider .child .client .dp_info h4 {
    color: var(--Dark-01, #232323);
    font-size: 20px;
    font-weight: 600;
    line-height: 120%; /* 24px */
    margin: 0;
    padding: 0;
}

#review .container .review_slider .child .client .dp_info p {
    color: var(--Dark-03, #7B7B7B);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin: 0;
    padding: 0;
}

#review .container .review_slider {
    position: relative;
}

#review .container .review_slider .left {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(-50% , -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #4756DF;
    z-index: 222;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 20px;
}
#review .container .review_slider .right {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translate(50% , -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #4756DF;
    z-index: 222;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 20px;
}
/* ================================================================================================== */
/* ================================================================================================== */
#form {
    padding-top: 227px;
    background: var(--Dark-07, #F3F3F3);
    padding-bottom: 150px;
}

#form .container .row .col-lg-5 .text {
    margin: 327px 0;
}

#form .container .row .col-lg-5 .text h2 {
    max-width: 470px;
    color: var(--Dark-01, #151515);
    font-size: 45px;
    font-weight: 700;
}

#form .container .row .col-lg-5 .text p {
    color: var(--Dark-03, #7B7B7B);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

#form .container .row .col-lg-5 .text p.first {
    max-width: 514px;
    margin: 20px 0 10px;
}

#form .container .row .col-lg-5 .text p.second {
    max-width: 526px;
}

#form .container .row .col-lg-7 form {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: #FFF;
    padding: 61px 43px;
    width: 536px;
    margin: 150px 0 150px 146px;
}

#form .container .row .col-lg-7 form h3 {
    color: var(--Dark-01, #151515);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

#form .container .row .col-lg-7 form label {
    color: var(--Dark-01, #151515);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    text-transform: capitalize;
    padding-bottom: 10px;
}

#form .container .row .col-lg-7 form input {
    border-radius: 10px;
    border: 1px solid var(--Dark-06, #E8E8E8);
    width: 100%;
    padding: 19px 23px;
    color: var(--Dark-05, #D0D0D0);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 20px;
}

#form .container .row .col-lg-7 form button {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 26px; /* 130% */
    padding: 19px 0;
    border-radius: 10px;
    background: var(--Primary-Color, #6A4DF4);
    margin-top: 30px;
}
/* ================================================================================================== */

/* ================================================================================================== */
footer {
    padding-top: 150px;
}

footer .container .row .col-lg-4 p {
    max-width: 356px;
    color: var(--Dark-03, #7B7B7B);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-top: 30px;
}

footer .container .row .col-lg-8 {
    display: flex;
    gap: 132px;
    justify-content: flex-end;
} 

footer .container .row .col-lg-8 ul h5 {
    margin-bottom: 40px;
    color: var(--Dark-01, #151515);
    font-size: 20px;
    font-weight: 600;
}

footer .container .row .col-lg-8 ul li {
    color: var(--Dark-03, #7B7B7B);
    font-size: 16px;
    font-weight: 400;
    line-height: 40px; /* 250% */
}


footer .container .line {
    width: 100%;
    height: 1px;
    background: #E8E8E8;
    margin-top: 50px;
}

footer .container .copyright {
    color: var(--Dark-05, #D0D0D0);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    text-align: center;
    margin: 33px 0;
}
/* ===========================================Endddddddd================================================= */